<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Welcome <%=user.name%></h1>

    <form action="/users/profile?_method=PUT" method="POST">
        Name: <input type="text" name="name" value="<%=user.name%>" /><br> <br>
        Username: <input type="text" name="username" value=<%=user.username%> /> <br> <br>
        Password: <input type="text" name="password" value=<%=user.password%> /><br> <br>  
        <input type="submit" value="Edit Profile" />
    </form>

    <br>
    <form action="/users?_method=DELETE" method="POST">
        <input type="submit" value="Delete User" />
    </form>

    <h3>List of Fruits</h3>
    <% for(let i=0; i<user.Fruits.length; i++){ %>
        <a href="/fruits/<%=user.Fruits[i].id%>"><%=user.Fruits[i].name%></a>
    <% } %>

    <br><br>
    <a href="/fruits">View All Fruits</a>
</body>
</html>